.container_extra > div,
.container_extra > .image,
.header,
.votes {
    display: inline-block;
}
.product > .image,
.product_content,
.text_description {
    display: block;
}
.product {
    display: flex;
}

.product {
    border: 1px solid #000;
}
.product_content {
    flex: 1 1 auto;
}

.votes {
    font-size: 1.2rem;
    vertical-align: top;
}

.container_extra {
    .image {
        border-radius: 100%;
    }
}
